body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: green;
}

.diagram {
  margin: 50px;
  background: lightgreen;
  flex: 1;
  display: grid;
  align-items: end;
  grid-gap: 2px;
}

.types {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 100px 0;
}